<head>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500&display=swap' rel='stylesheet'>
  <link href='https://unpkg.com/nes.css@latest/css/nes.min.css' rel='stylesheet' />
  <link href="{{ site.url }}/assets/main.css" rel='stylesheet' />
  <link href="{{ site.url }}/assets//vendor/dialog-polyfill.css" rel='stylesheet' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.1/dialog-polyfill.min.js'></script>
  <meta name='viewport' content='width=device-width, initial-scale=1, minimum-s»cale=1'>

  <title>SEQURIST - A developer's adventures through the world of web security</title>
</head>
