<head>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:700&display=swap' rel='stylesheet'>
  <link href='https://unpkg.com/nes.css@latest/css/nes.min.css' rel='stylesheet' />
  <link href='/assets/main.css' rel='stylesheet' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.js'></script>

  <title>SEQURIST - A developer's adventures through the world of web security</title>
</head>
