<header class='nes-container is-rounded'>
  <h1>
    <img src='/assets/shield.png'>
    SEQURIST
    <img src='/assets/shield.png'>
  </h1>

  {% include dialogs/about.html %}
  {% include dialogs/contact.html %}
</header>

<nav class='nes-container is-rounded'>
  <a href='/' class='nes-btn is-warning'>Blog</a>
  <a id='menu-about' class='nes-btn is-warning'>About</a>
  <a id='menu-contact' class='nes-btn is-warning'>Contact</a>
</nav>

<script>
  var dialogAbout = document.getElementById('dialog-about');
  dialogPolyfill.registerDialog(dialogAbout);

  document.getElementById('menu-about').onclick = function(_)
    { document.getElementById('dialog-about').showModal(); }

  var dialogContact = document.getElementById('dialog-contact');
  dialogPolyfill.registerDialog(dialogContact);

  document.getElementById('menu-contact').onclick = function(_)
    { document.getElementById('dialog-contact').showModal(); }
</script>
