body {
  display: grid;
  grid-template-columns: 10% [main] 80% 10%;
  grid-template-rows: 15px [header] minmax(100px, auto) 5px [nav] minmax(100px, auto) 5px [content] auto 15px;
}

header {
  grid-column: main;
  grid-row: header;
  background-color: #5555ff;
}

nav {
  grid-column: main;
  grid-row: nav;
  background-color: #5555ff;
}

h1 {
  font-family: 'Press Start 2P';
  text-align: center;
  color: #00aaaa;
  text-shadow: 1px 1px #fff;
  padding-bottom: 5px;
  font-size: 160%;
}

h1 img {
  vertical-align: top;
}

h2 {
  font-size: 106%;
}

h2 a {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  grid-column: main;
  grid-row: content;
  position: relative;
  overflow-x: hidden;
}

a.nes-btn:hover {
  text-decoration: none;
}

form {
  max-width: 550px;
}

#list-posts {
  list-style-image: url(/assets/hacker.png);
}

p {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.post, article {
  max-width: 680px;
  margin-bottom: 30px;
}

article img {
  width: 100%;
  height: auto;
}

code {
  font-size: 88%;
  vertical-align: middle;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 680px;
}

div.right {
  text-align: right;
}
