<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <section class='nes-container is-rounded with-title'>
        <h3 class='title'>Blog</h3>
        <article>
          <h1>{{ page.title }}</h2>
          <div class='nes-badge'>
            <span class='is-warning'>
              {{ page.date | date: "%d-%m-%y" }}
            </span>
          </div>

          {{ content }}

          <a href="{{ site.url }}">
            <div class='right'>
              <i class='nes-jp-logo'></i>
              back to blog
            </div>
          </a>
        </article>
      </section>
    </main>

    <footer>
    </footer>
  </body>
</html>
