<dialog class='nes-dialog is-rounded' id='dialog-contact'>
  <form method='dialog'>
    <a href="#"></a>
    <a href='https://twitter.com/shotgundebuggin' target='_blank'>
      <i class='nes-icon twitter is-medium'></i>
    </a>
    <a href='https://github.com/shotgundebugging' target='_blank'>
      <i class='nes-icon github is-medium'></i>
    </a>
    <a href='mailto::um0215&#x40;protonmail&#x2E;ch' target='_blank'>
      <i class='nes-icon gmail is-medium'></i>
    </a>

    <a href='https://www.linkedin.com/in/mircea-mare-10413954/' target='_blank'>
      <i class='nes-icon linkedin is-medium'></i>
    </a>
    <menu class='dialog-menu'>
      <button class='nes-btn'>Close</button>
    </menu>
  </form>
</dialog>
